- page_title = title(t('.title', current: t('current').capitalize, constituency: t('constituency_plural')))

.section--primary
  .container
    %h1= page_title

    = render partial: 'pugin/components/letter-navigation', locals: { route_symbol: :constituencies_current_a_z_letter_path }

%section#content
  .container
    = render 'constituencies/current_constituencies'
